[Service]
WorkingDirectory={{ application_home }}
ExecStart=/usr/bin/npm start server.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=exam_application
User={{ ansible_user_id }}
Group={{ ansible_user_id}}
Environment=NODE_ENV=development

[Install]
WantedBy=multi-user.target
